/* UTILITIES */

* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
}

hr.line {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 1px solid #271a09;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: #271a09;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: #271a09;
}

h3 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: normal;
  color: #271a09;
}

p {
  font-size: 1.5rem;
  color: #271a09;
}

.container {
  max-width: 1600px;
  margin: auto;
  height: auto;
}

footer {
  background: linear-gradient(0.25turn, #020001, #9d752d);
  margin-top: 2rem;
  padding: 10px;
  color: white;
}

.column-footer {
  float: left;
  width: 50%;
  padding: 0 10px;

}

.button {
  font-size: 1rem;
  color: white;
  padding: 0.5rem;
  margin: -1rem;
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(0.25turn, #020001, #9d752d);
}

.button:hover {
  color: rgb(223, 222, 222);
  font-weight: 600;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  background-color: white;
  color: #271a09;
}

.nav-links a {
  color: #271a09;
}

/* NAVBAR MENU */

.menu {
  display: flex;
  gap: 1em;
  font-size: 1rem;
}

.menu li:hover {
  background-color: rgb(225, 224, 224);
  border-radius: 10px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */

.services {
  position: relative;
  display: inline-block;
}

.dropdown {
  background-color: white;
  font-size: 1.2rem;
  padding: 1em 0;
  right: 0.5%;
  position: absolute;
  /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
}

.dropdown li+li {
  margin-top: 1px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 20em;
  text-align: left;
}

.dropdown li:hover {
  background-color: rgb(225, 224, 224);
}

.services:hover .dropdown {
  display: block;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 0 10px;

}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0.5vw;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
  display: none;
}

/*HAMBURGER MENU*/

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.indent {
  margin-left: 2vw;
}

.imgnav {
  max-width: 80%;
}

.img-cover-nar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}


/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #9c958d;
  padding: 1% 3% 1% 3%;
  background-color: white;
  border-radius: 7px;
  margin: 0% 20% 0% 20%;
}

.card-art {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid #cdcccc;
  background-color: white;
  border-radius: 7px;
  margin: 5% 15% 5% 15%;
  align-items: center;
  text-align: center;
}

.img {
  width: 100%;
  border-radius: 7px 7px 0 0;
}

@media screen and (min-width: 958px) and (max-width:1200px) {

  .card {
    margin: 0% 10% 0% 10%;
  }


  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.1rem;
  }

}

@media screen and (min-width: 760px) and (max-width:957px) {

  .card {
    margin: 0% 5% 0% 5%;
  }

  .button {
    width: 60%;
  }

  .column {
    width: 100%;
  }

  .imgnav {
    max-width: 70%;
  }

}

/* APPLYING MEDIA QUERIES */

@media screen and (min-width: 577px) and (max-width:759px){

  .menu {
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: rgb(225, 224, 224);
    transition: 0.3s ease;
  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    right: 0.5%;
    top: 30px;
    line-height: 0.5rem;
    transform: translateX(35%);
  }

  .dropdown li {
    padding: 0.5em 1em;
    width: 19em;
    text-align: left;
  }

  .dropdown li:hover {
    background-color: rgb(225, 224, 224);
  }

  .imgnav {
    max-width: 60%;
  }

  .indent {
    margin-left: 10vw;
  }

  /* Responsive columns */
  .column {
    width: 100%;
  }

  .button {
    width: 80%;
  }

  .card {
    margin: 0% 5% 0% 5%;
  }

}

@media (max-width: 576px) {

  .menu {
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: rgb(225, 224, 224);
    transition: 0.3s ease;
  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    right: 0.5%;
    top: 30px;
    line-height: 0.5rem;
    transform: translateX(35%);
  }

  .dropdown li {
    padding: 0.5em 1em;
    width: 19em;
    text-align: left;
  }

  .dropdown li:hover {
    background-color: rgb(225, 224, 224);
  }

  .imgnav {
    max-width: 50%;
  }

  .indent {
    margin-left: 10vw;
  }


  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  p {
    font-size: 1rem;
  }

  .column {
    width: 100%;
  }

  .button {
    margin: -0.4rem;
    width: 90%;
  }

  .card {
    margin: 0% 5% 0% 5%;
  }

}